<%= render 'shared/userheader' %>
	<div class="content login-box">
		<div class="login-main">
			<div class="wrap" style="border-top: 1px solid #EEE;">
				<ul class="product-head">
					<li><a href="index.html">主 页</a> <span>::</span></li>
					<li class="active-page"><a href="#">我要上传</a></li>
					<div class="clear"> </div>
				</ul>
				<h1>上传资料</h1>
				<%= render 'shared/upload_text' %>
			</div>
		</div>
	</div>
	<%= render 'shared/userfooter' %>