<!---start-footer -->
		<div class="footer">
			<div class="wrap">
				<div class="footer-left">
					<ul>
						<li>
							<a href="#">首 页</a> 
							<span> </span>
							<a href="#">金佰川网站</a>
							<span> </span>
							<a href="#">金佰川BBS</a>
						</li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="footer-right">
					<p>金佰川集团</p>
					<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
			    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!---//End-footer -->