<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>金佰川EIP</title>
  <meta name="keywords" content="金佰川鞋业" />
  <meta name="description" content="金佰川EIP" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="JBC_IT">

 <!-- 'data-turbolinks-track' => true 出现需要刷新才能完全加载js与css的情况-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <!-- Stylesheets
  <link href="/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/font-awesome.css"> 

  <link rel="stylesheet" href="/style/jquery-ui.css"> 

  <link rel="stylesheet" href="/style/fullcalendar.css">

  <link rel="stylesheet" href="/style/prettyPhoto.css">  

  <link rel="stylesheet" href="/style/rateit.css">

  <link rel="stylesheet" href="/style/bootstrap-datetimepicker.min.css">

  <link rel="stylesheet" href="/style/jquery.cleditor.css"> 

  <link rel="stylesheet" href="/style/bootstrap-switch.css">

  <link rel="stylesheet" href="/style/chosen.css">

  <link rel="stylesheet" href="/style/colorbox.css" />

  <link href="/style/widgets.css" rel="stylesheet">   

  <link href="/style/style.css" rel="stylesheet">-->

   <!-- <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />-->
  


  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->


  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>


    <%= yield %>



</body>
</html>